<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STUDENT_CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
        <Console name="SQL_CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{red} %highlight{%-5level }[%style{%t}{bright,red}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.school" level="INFO">
            <AppenderRef ref="STUDENT_CONSOLE"/>
        </Logger>
    </Loggers>

</Configuration>